.room-titles {
  white-space:nowrap;
  margin-right: 1em;
}

.room-tiddler-content {
  max-height: 250px;
  overflow: auto;
  padding: 0 1em;
}

.post-time {
  font-size: .8em;
}

.post-textarea {
  width: 500px;
  max-width: 500px;
}

.poc2go-room-post-recipient {
  width: max-content;
  max-width: 450px;
  background:aliceblue;
  color:blue; 
  border:1px solid blue;
  border-radius: 8px;
  margin:0 0 0 1em;
  padding: .3em 1em .3em 1em;
}

.poc2go-room-post-sender {
  float:right;
  width: max-content;
  max-width: 450px;
  background:#e6ffe6;
  color:#002e00; 
  border:1px solid #002e00;
  border-radius: 8px;
  margin:0 0 0 1em;
  padding: .3em 1em .3em 1em;
}

code {
  font-size: .9em;
}

/* hide the tiddler controls - info, edit, close */
[data-tags*="$:/tags/poc2go/hidecontrols"].tc-tiddler-view-frame .tc-tiddler-controls {
    display: none;
}
/* hide tags display */
[data-tags*="$:/tags/poc2go/hidecontrols"].tc-tiddler-view-frame .tc-tags-wrapper {
    display: none;
}

/* Show directory paths in monospace */
.poc2go-dir {
	font-family: monospace;
    font-size: .9em;
}
/* section separator */
.poc2go-hr {
    margin: 0 10% 0 10%;
    opacity: .3;
}

.rooms-post {
    right:50px;
}

/*  <$button class="flow-editor-btn tc-btn-invisible tc-tiddlylink"> Flow Editor </$button> */
.flow-editor-btn {
    margin: 0 .5em;
    border: 1px solid #888888;
    border-radius: 8px;
    padding: 0 .6em 0 .6em;
}

/*
.tc-tabbed-table-of-contents .tc-table-of-contents .toc-item > a:hover  {
	text-decoration: none;
	border-top: 1px solid <<colour tab-border>>;
	border-left: 1px solid <<colour tab-border>>;
	border-bottom: 1px solid <<colour tab-border>>;
	background: <<colour download-background>>;
}
*/
